<div class="container mt-5">
    <div class="card text-center" style="color: green; padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="process(loginForm)">

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username">
                <mat-hint>Username</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input type="password" matInput ngModel name="userPassword" id="userPassword" placeholder="Password">
                <mat-hint>Password</mat-hint>
            </mat-form-field>

            <button class="w-100" type="submit" mat-raised-button color="primary">Login</button>

        </form>

    </div>

    <div class="text-center">
        <br>
        <button class="w-20" mat-raised-button type="button" (click)="registerUser()">Create an account</button>
        
    </div>

    <div class="container mt-5">
        <p>Admin Username: admin123</p>
        <p>Admin Password: admin@pass</p>
        <p>TestUser Username: delan123</p>
        <p>TestUser Password: delan@123</p>
    </div>
</div>